html{
  /*margin: 0 100px 0 100px;*/

}


body{
    font-family: 'Merriweather', serif;
    background-color: #F2F1E8;
    color: #131511;
  }
#logoimg{
  height: 35px;
  width: 35px;
  padding: 3px;
  margin-right: 350px;

}

#site-header{
display: flex;
flex-wrap: wrap;
}

#site-header div{
    width: 100%;
    text-align: center;
    margin: 50px 0 0 0;

  }
#site-header div h1{
  font-size: 50px;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 15px;

}

#site-header div h3{
    font-size: 27px;
    line-height: 1;
    font-weight: normal;
    margin-top: 0px;

}
#main-navigation a{
  margin: 0 25px 0 25px;
  font-family: 'Roboto', sans-serif;
  color: #2B2F26;
  display: flex;
  align-items:center;
}
  #main-navigation{
      width: 100%;
      background: #FFFFFF;
      display: flex;
      justify-content: flex-start;
      position: fixed;
      z-index: 1;
    }

main{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

main div{
  position: relative;
  margin: 5px;
}
div h4{
  /*display: inline-block;*/
  position: absolute;
  bottom: 8px;
  padding: 10px 13px;
  color: #E1DBC3;
  background-color: #2B2F27;
  font-size: 15px;
  font-weight: normal;
}
main div:first-child img{
  width: 700px;
  height: 370px;
}
main div:nth-child(2) img{
  width: 235px;
  height: 370px;
}
main div:nth-child(3) img{
  width: 235px;
  height: 370px;
}
main div:nth-child(4) img{
  width: 235px;
  height: 235px;
}
main div:nth-child(5) img{
  width: 235px;
  height: 235px;
}
main div:nth-child(6) img{
  width: 457.5px;
  height: 235px;
}
main div:last-child img{
  width: 235px;
  height: 235px;
}
#site-footer {
  background-color: #2B2F27;
  color: #E1DBC3;
  padding: 30px;
}
